fastapi
uvicorn
python-multipart
python-jose[cryptography]
passlib[bcrypt]
chromadb
langchain
langchain-community
langchain-core
langchain-chroma
google-generativeai
python-pptx
python-docx
python-dotenv
sentence-transformers
langchain-huggingface
